<!DOCTYPE html>
<html>
    <head>
        <title>For Sale </title>
        <link type="text/css" rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>
            {{>header}}
            
            {{saleText}}
        </div>
        {{>footer}}
    </body>
</html>