
<header>
    <div>
        <a href="/">Weather</a>
        <a href="/cars&vehicles">Car & Vehicles</a>
        <a href="/forSale">For Sale</a>
        <a href="/jobs">Jobs</a>
        <a href="/services">Services</a>
        <a href="/comunity">Comunity</a>
        <a href="/about">About</a>

        <a href="/contact">Contact</a>

        <a href="/help">Help</a>
    </div>

</header>